<header>
    <app-header></app-header>
</header>
<div id="margins"
    style="background-image:url(../../assets/Honme-bus.jpg);background-size:cover; background-repeat:no-repeat;background-position:center;">
<div class="col-md-6">
    <div class="jumbotron" style="background-color: rgb(220, 220, 220,0.7);">
        <h1 class="display-3">Planning a trip?</h1>
        
        
        <p>start from here!!!</p>
        <p class="lead">
            <a class="btn btn-lg" style="background-color: rgb(128, 0, 0); color: rgb(220, 220, 220);" routerLink="/users/authenticate" role="button">Search for buses</a>
        </p>
    </div>
</div>
   <!--  <div class="card" style="width:40%">
        <h5 class="card-header" style="background-color: darkgrey;">Plan your travel in advance...</h5>
        <div class="card-body">
           
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-primary"
                style="color:darkgray ; background-color:#78281F;" routerLink="/users">search for Buses</button>

        </div>
        </div>
    </div> -->
</div>

