<app-header2>
</app-header2>
<div id="margins"
    style="background-image:url(../../assets/Honme-bus.jpg);background-size:cover; background-repeat:no-repeat;background-position:center;">

    <div class="col-md-6">
        <div class="jumbotron" style="background-color: rgb(220, 220, 220,0.7);">
            <h1 class="display-3">Planning a trip?</h1>
            
            
            <p>start from here!!!</p>
            <p class="lead">
                <a class="btn btn-lg" style="background-color: rgb(128, 0, 0); color: rgb(220, 220, 220);" routerLink="/buselect" role="button">Search for buses</a>
            </p>
        </div>
    </div>
</div>