<app-header2></app-header2>
<div style="margin-top: 20px; margin-bottom: 20px" class="container parentcontainer">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <img src="assets//cancelpay.png" class="center" >
        </div>
        <div class="col-sm-8">
            <h1 style="text-align: center;"> Payment Cancelled</h1>
            <h4  style="text-align: center;">No Tickets Booked</h4>
            <button style="margin-left: 310px; margin-right: 50px;" class="btn btn-success " (click)="pay()" type="submit">Pay Again</button><br>
            
        </div>
    </div>
</div>
