#err{
    color : red;
}
#box{
    background-color: gainsboro;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 50px;
}
#list{
    border: 50px;
    padding: 5px;
    border-color: brown;
    background-color: rgb(207, 150, 150);
    color: black;
    margin-bottom: 20px;
}