<div id="tab" style="background-color:#78281F;">
    <!-- <div class="bg_img"></div> -->
    <div class="container-fluid">
        <div class="row" style="padding-top:10px ;">
            <div class="col-md-3">
                <h5><img src="../../assets/cities.png" width="30" height="30" class="d-inline-block align-top" alt="">Popular cities</h5>
                <ul>
                    <li>Hyderabad</li>
                    <li>Bangalore</li>
                    <li>Chennai</li>
                    <li>Mumbai</li>
                    <li>Delhi</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5><img src="../../assets/routes.png" width="30" height="30" class="d-inline-block align-top" alt="">Popular routes</h5>
                <ul>
                    <li>Hyderabad to Bangalore</li>
                    <li>Mumbai to Chennai</li>
                    <li>Delhi to Mumbai</li>
                    <li>Bangalore to Chennai</li>
                    <li>Chennai to Delhi</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="row">
                    
                        <h5><img src="../../assets/bus.png" width="40" height="40" class="d-inline-block align-top" alt="">About us</h5>
                        <p>In this day and age of technology, offline modes of bus ticket booking are no more a preference. Online ticket booking is easy, fast and hassle-free. Travel Buddy ticks off all three with our easy app and website navigation.</p>
                </div>
                <div class="row">
                        <h5><img src="../../assets/contact.png" width="30" height="30" class="d-inline-block align-top" alt="">Contact</h5>
                        <p>travelbuddy@email.com</p>
                </div>
                
            </div>
        </div>
    </div>
</div>