<app-header3></app-header3>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">view All users</h4>
        <button type="button" class="btn btn-primary" routerLink="allUsers" style="background-color:maroon ;" >Go</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add/View a bus</h4>
        <button type="button" class="btn btn-primary" routerLink="addbus" style="background-color:maroon ;" >Go</button>
    </div>
</div>

